.section {
    padding: 50px;
}

.sectionTitle {
    color: darkgoldenrod;
}

.header-nav-link {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.section-gallery {
    display: inline-flex;
    background-color: lightcyan;
}

.section-gallery-imgColumn {
    width: 300px;
    margin: 20px;
}

.gallery-img {
    width: 300px;
    margin: 10px;
}

.gallery-img-item {
    width: 300px;
}

.buttonLink {
    background-color: darkgoldenrod;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color:azure;
    font-weight: bold;
}

.section-reserv {
    background-color: lightyellow;
}

.section-reserv-form {
    display: block;
    width: 600px;
}

.reserv-button {
    width: 200px;
    margin: 20px;
}

.mozzaBar-specialColor {
    color: darkgoldenrod;
    font-weight: bold;
}

.spacerBar {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.footer-info {
    display: inline-block;
    vertical-align: top;
}